<h1 style="text-align: center;">Welcome to docker-1 project @ 42</h1>
<h1>&nbsp;</h1>
<p style="text-align: center;"><strong><em>This is an simple Ruby on rails blog app for ex02</em></strong></p>
<div style="display: flex; justify-content: center;">
	<img src="http://www.quickmeme.com/img/63/6339025ecd66563b47fa2ff926006f6e3cd105f869411f88517f3ca817693b5c.jpg"/> 
</div>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><em>flbeaumo@42</em></p>
